/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: georgia, serif;
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f6f6f6 url(../img/grey/grey.png);
    font-size: 20px;
    text-shadow: 0 2px 1px #fff;
    line-height: 1.6;
    font-family: georgia, serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, .toc {
    font-family: 'Fredericka the Great', georgia, serif;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
    margin: 20px auto;
}

h3 {
    font-size: 24px;
    color: #666;
}

code {
    font-family: "monaco", "liberation mono", menlo, monospace;
    font-size: 16px;
    box-shadow: 2px 2px 0 #d3d3d3;
    background-color: #fff;
    padding: 3px 5px 1px 5px;
}

a:link, a:visited {
    color: hsl(210, 35%, 50%);
    text-decoration: none;
}

a:hover, a:active {
    color: hsl(210, 70%, 30%);
}

hr {
    box-shadow: 0 1px 2px #fff;
    margin: 40px 0;
    border-top: 1px solid #ddd;
}


header > * {
    display: inline-block;
}

header small {
    color: #999;
    font-size: 32px;
    vertical-align: middle;
    position: relative;
    bottom: 16px;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    transform: rotate(-90deg);
}

.headline {
    font-family: georgia, serif;
    background-color: #eee;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    box-shadow: 5px 5px 0 #d3d3d3;
}

#content {
    margin: 0 auto;
    padding: 20px;
    width: 840px;
}

.toc {
    margin: 40px 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
}

.toc li:before {
    content: "» ";
    color: #999;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url(../img/grey/grey_@2x.png);
    }
}


/* Landscape phone to portrait tablet */
@media only screen and (max-width: 979px) {
    #content {
        width: auto;
    }
    header h1 {
        font-size: 60px;
        line-height: 60px;
    }
}
 
/* Landscape phones and down */
@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 60px;
        line-height: 60px;
    }

    header small {
        bottom: 0;
        font-size: 24px;
        line-height: 24px;

        -ms-transform: none; /* IE 9 */
        -moz-transform: none; /* Firefox */
        -webkit-transform: none; /* Safari and Chrome */
        -o-transform: none; /* Opera */
        transform: none;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .headline {
        font-size: 20px;
    }

    .toc {
        font-size: 24px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


